<div class="page-wrapper" tabindex="-1" role="main">
    {% if page.cover %}
        <img src="{{ page.cover }}"
             width="100%"
             height="{{ page.cover_height | default: '100%' }}"
             alt="{{ page.title | escape }}"
             style="object-fit: cover;"
        />
    {% endif %}

    <div class="page-inner">
        <div id="book-search-results">
            <div class="search-noresults">
                <section class="normal markdown-section">
                    <!--{% if page.title %}
                        <h1 id="{{ page.id }}">{{ page.chapter }}<br>{{ page.title | escape }}</h1>
                    {% else %}
                        <h1 id="{{ page.id }}">{{ site.title | escape }}</h1>
                    {% endif %}

                    {% if page.toc %}
                    <table><tr><td><h2 id="{{ page.toc }}">目錄</h2>
                    {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                    </td></tr></table>
                    {% endif %} -->

                    {{ content }}
                </section>
            </div>

            {%- include search.html -%}

            <!-- 計數器原始碼開始 -->
<script src="http://counter.i2yes.com/i2yesCounter.js" type="text/javascript"></script>
<script type="text/javascript">document.write(i2yesCounter.render({ y:'counter',
p:'tzuhua', //改成您專有的計數器名稱,注意別跟別人一樣
v:'tzuhua.github.io/Kiamsngtinn/', //您的網址,不對的話無法使用,也可以用沒有 www 的網址,如 i2yes.com
d:6, //數字位數
r:0, //1=不接受Reload,0=Reload會+1
t:'font158', //字型 font001 - font156 可用
s:0,  //指定大小,只能輸入數字例;100, 0為不指定尺寸(原寸)
n:10	//指定起始的數字
}));</script>
<!-- 計數器原始碼結束 -->

        </div>
    </div>
</div>
